<div class="container">
    <div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2><%= current_user.name %> Profile</h2>
  </div>
  </div>

<% if current_user.type == "Employer" %>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :position %><br />
      <%= f.text_field :position, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :company %><br />
      <%= f.text_field :company, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :city %><br />
      <%= f.text_field :city, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :contact_email %><br />
      <%= f.text_field :contact_email, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :image_url %><br />
      <%= f.text_field :image_url, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Update profile", class: 'btn btn-success' %><br><br>
      <%= link_to "<< Back", :back, class: 'btn btn-default' %>
    </div>
  <% end %>
  </div>
  </div>

<% elsif current_user.type == "Jobseeker" %>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :position %><br />
      <%= f.text_field :position, class: 'form-control' %>
    </div>

       <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, Category.all.map { |c| c.name }, { :prompt => "Please Select" }, {class: "form-control"} %>
    </div>

      <div class="form-group">
      <%= f.label :salary %><br />
      <%= f.text_field :salary, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :city %><br />
      <%= f.text_field :city, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :experience, "Experience and skills" %><br />
      <%= f.text_area :experience, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :seniority, "Years of experience" %><br />
      <%= f.text_field :seniority, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :english %><br />
       <%= f.select :english, [ "No english", "Pre-Intermediate", "Intermediate", "Upper Intermediate", "Advanced" ], { :prompt => 'Select One'}, {class: "form-control"} %>
    </div>

      <div class="form-group">
      <%= f.label :expectations %><br />
      <%= f.text_area :expectations, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.label :achievements %><br />
      <%= f.text_area :achievements, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :cv_url, "Link to CV" %><br />
      <%= f.text_field :cv_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Update profile", class: 'btn btn-success' %><br><br>
      <%= link_to "<< Back", :back, class: 'btn btn-default' %>
    </div>
  <% end %>
  </div>
  </div>
<% else %>
  <%= "unauthorized user" %>
<% end %>


  <br><br><br>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title">Cancel account</h3>
      </div>
      <div class="panel-body">
        <p>If you want, you always can <%= button_to "Delete  account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>
  </div>






</div>