<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h1>Your opened vacancies</h1>
      <div class="item"><%= link_to new_vacancy_path do %>
        <div class="btn btn-success">Create new vacancy</div>
      <% end %>
      </div>
      <br>
        <% @vacancies.each do |vacancy| %>
            <div class="panel panel-default">
           <div class="panel-heading">
              <div class="panel-title">
                <%= link_to vacancy.title, vacancy %> <span class="pull-right salary"><%= vacancy.salary %>$</span>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6"><strong>Employer:</strong> <%= link_to vacancy.employer.name, vacancy.employer %></div>
                <div class="col-md-6"><strong>Date:</strong> <%= vacancy.created_at.strftime('%d/%m/%y') %></div>
              </div>
              <div class="row">
                <div class="col-md-6"><strong>Category:</strong> <%= vacancy.category %></div>
                <div class="col-md-6"><strong>City:</strong> <%= vacancy.city %></div>
              </div>
            <hr>
            <p><h4><strong>Short description</strong></h4></p>
            <p><%= truncate(vacancy.description, :length => 50, :separator => ' ') %></p>
            <hr>
              <div class="row">
                <div class="col-md-4">
                    <%= link_to vacancy do %>
                      <div class="btn btn-default">Show vacancy</div>
                    <% end %>
                </div>
                <div class="col-md-4">
                    <%= link_to edit_vacancy_path(vacancy) do %>
                    	<div class="btn btn-warning">Edit vacancy</div>
                    <% end %>
                </div>
                <div class="col-md-4">
                	<%= link_to vacancy, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    	<div class="btn btn-danger">Delete vacancy</div>
                	<% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>



