<div class="container">
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
			        <div class="panel-title">
					    <%= @candidate.position %>
					</div>
				</div>
				<div class="panel-body">
					<h4><strong>Name:</strong> <%= @candidate.name %></h4>
					<h4><strong>Category:</strong> <%= @candidate.category %></h4>
					<h4><strong>City:</strong> <%= @candidate.city %></h4>
					<h4><strong>Expected Salary:</strong> <%= @candidate.salary %>$+</h4>
					<h4><strong>Experience and Skills:</strong> <%= @candidate.experience %></h4>
					<H4><strong>English level:</strong> <%= @candidate.english %></H4>
					<h4><strong>Seniority:</strong> <%= pluralize(@candidate.seniority, 'year') %> of experience</h4>
					<h4><strong>Expectations from job:</strong> <%= @candidate.expectations %></h4>
					<h4><strong>Achievements:</strong> <%= @candidate.achievements %></h4>
				</div>
			</div>

			<%= link_to candidates_path do %>
				<div class="btn btn-default"><< Back to candidates</div>
			<% end %>

			<div class="item pull-right">
			    <% if @candidate.id != current_user.id && current_user.type == "Employer" %>
				     <div class="item text-center">
				   		<%= link_to conversations_path(sender_id: current_user.id, recipient_id: @candidate.id), method: 'post' do %>
				   			<div class="btn btn-primary">Write a message</div>
				   		<% end %>
				   		<% if !@candidate.cv_url.nil? %>
				 			<%= link_to @candidate.cv_url, target: "_blank" do %>
				 				<div class="btn btn-default">Download CV</div>
				 			<% end %>
				 	 <% end %>
				 	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
