<!DOCTYPE html>
<html>
  <head>
    <title>Workseeker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  </head>

  <body>


<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Work Seeker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if user_signed_in? %>
            <div class="navbar-left">
              <ul class="nav navbar-nav">
                <li><%= link_to 'Inbox', conversations_path %></li>
                <% if current_user.type == "Jobseeker" %>
                  <li><%= link_to 'Vacancies', vacancies_path %></li>
                  <li><%= link_to 'Employers', employers_path %></li>
                <% elsif current_user.type == "Employer" %>
                  <li><%= link_to 'Candidates', candidates_path %></li>
                  <li><%= link_to 'My vacancies', my_vacancies_path %></li>
                <% end %>
              </ul>
            </div>
            <div class="navbar-form navbar-right" style="color: white;">
            <% unless current_user.name == "" %> Hello, <%= current_user.name %> <% end %> <%= link_to edit_user_registration_path do %> <div class="btn btn-success">My profile</div> <% end %> 
            <%= link_to(destroy_user_session_path, :method => :delete) do %> <div class="btn btn-danger">Logout</div>  <% end %> 
            </div>
          <% else %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'navbar-form navbar-right'}) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email", autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'form-control' %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <span style="color: #ccc;">Remember</span>
              </div>
            <% end -%>
            <%= f.submit "Log in", class: 'btn btn-success' %>
            <% end %>
          <% end %>
           </div>
          </div>
        </div>
    </nav>

<%= flash_messages %>

    <%= yield %>


  <div class="container" id="footer">
        <footer>
        <div class="row">
          <div class="col-md-8">
            &copy; 2017 WorkSeeker
          </div>
            <div class="col-md-2 col-md-offset-2">Author: Roman Lukianov</div>
        </div>
        </footer>
  </div>

  </body>
</html>
